<mat-card-title>Ajouter un membre</mat-card-title>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="w-100" *ngIf="!user.value">
      <input type="text" placeholder="Membre" matInput [formControl]="userText" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let u of filteredUsers | async" [value]="u.firstname +' '+ u.lastname" (click)="user.patchValue(u)">
          {{u.firstname}} {{u.lastname}} promo {{u.promo}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="userText.touched && user.invalid">{{getErrorMessage(user)}}</mat-error>
    </mat-form-field>
  </p>

  <div *ngIf="user.value">
    {{user.value.firstname}} {{user.value.lastname}} promo {{user.value.promo}}
    <button class="ml-2" mat-flat-button color="warn" (click)="user.reset()">Changer</button>
  </div>

  <p>
    <mat-form-field class="w-100" *ngIf="!role.value && !newRole.value">
      <input type="text" placeholder="Role" matInput [formControl]="roleText" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let r of filteredRoles | async" [value]="r.name" (click)="role.patchValue(r)">
          {{r.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="roleText.touched && role.invalid">{{getErrorMessage(role)}}</mat-error>
    </mat-form-field>
  </p>
  <button class="m-2" mat-flat-button color="primary" (click)="name.setValue(roleText.value); newRole.setValue(true); role.reset();" *ngIf="roleText.value && !role.value && !newRole.value">Créer un nouveau role</button>

  <div *ngIf="role.value && !newRole.value">
    {{role.value.name}}
    <button class="ml-2" mat-flat-button color="warn" (click)="role.reset()">Changer</button>
  </div>

  <!--<p>-->
    <!--<mat-form-field class="w-100">-->
      <!--<mat-select placeholder="Role" formControlName="role">-->
        <!--<mat-option [value]="selectRole" *ngFor="let selectRole of roles">{{selectRole.name}}</mat-option>-->
      <!--</mat-select>-->
      <!--<mat-error *ngIf="role.touched && role.invalid">{{getErrorMessage(role)}}</mat-error>-->
    <!--</mat-form-field>-->
  <!--</p>-->
  <p *ngIf="role.value && !newRole.value">Droits :</p>
  <ul *ngIf="role.value && !newRole.value">
    <li *ngFor="let right of role.value.rights">{{right.name}}</li>
  </ul>
  <p *ngIf="role.value && !newRole.value">Hierarchie : {{role.value.hierarchy}}</p>

  <ng-container *ngIf="newRole.value">
    <h5>Nouveau role</h5>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Nom" formControlName="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Hierarchie" type="number" formControlName="hierarchy">
      </mat-form-field>
    </p>
    <p>
      La hiérarchie désigne la place du membre dans l'asso et sert à les placer dans l'organigrame <br>
      Sur la première ligne se trouvent les membres avec une hiérarchie supérieur ou égale à 6. C'est la ligne du bureau.<br>
      Sur la deuxième ligne se trouvent les membres avec une hiérarchie inférieur à 6 et supérieur ou égale à 4. C'est la ligne des respos.<br>
      Sur la troisième ligne se trouvent les membres avec une hiérarchie inférieur à 4. C'est la ligne des autres membres.
    </p>

    <h3>Droits :</h3>
    <div *ngFor="let boolRight of boolRights">
      <mat-checkbox  [(ngModel)]="boolRight.selected" [ngModelOptions]="{standalone: true}" *ngIf="boolRight.right.id !== 0">{{boolRight.right.name}} : {{boolRight.right.description}}</mat-checkbox>
    </div>
    <p>
      Attention au droits que vous donnez. <br>
      Généralement les membres du bureau ont tous les droits, les respos peuvent créer des événements et les autres membres n'ont pas de droits.
    </p><p>
      La hiérarchie désigne la place du membre dans l'asso et sert à les placer dans l'organigrame <br>
      Sur la première ligne se trouvent les membres avec une hiérarchie supérieur ou égale à 6. C'est la ligne du bureau.<br>
      Sur la première ligne se trouvent les membres avec une hiérarchie inférieur à 6 et supérieur ou égale à 4. C'est la ligne des repos.<br>
      Sur la première ligne se trouvent les membres avec une hiérarchie inférieur à 4. C'est la ligne des autres membres.<br>
    </p>
    <button class="m-2" mat-flat-button color="primary" (click)="newRole.setValue(false); role.reset();">Sélectionner un role existant</button>
  </ng-container>

  <p class="loginButtons">
    <button class="ml-2" type="submit" mat-flat-button color="accent" [disabled]="form.invalid">Ajouter le membre</button>
  </p>

</form>

