.event-card {
  //border: solid black 1px;
  border-radius: 4px;
  padding: 5px;
  //margin: 0 5px 0 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.validated {
  background: #ffffff;
}

.draft {
  background: #d7d7d7;
}

.submitted {
  background: rgb(255, 128, 48);
  color: white;
}
