<div class="today" *ngIf="today"></div>
<div class="date" [ngStyle]="dateStyle()">
  <div class="day-number">
    {{ day.date | date: 'd' }}
  </div>
  <div class="month">{{ day.date | date: 'M' | translateMonth }}</div>
</div>
<div [ngStyle]="{ height: day.dayPadding * 2 + 'em' }"></div>
<div
  class="event"
  *ngFor="let event of day.events | orderBy: 'date'; let i = index"
  [ngStyle]="eventStyle(event, i)"
  (click)="selectEvent(event)"
>
  <div class="logo-background" *ngIf="event.association.logo">
    <img
      [src]="imgPath + '/' + event.association.logo.filename"
      [alt]="event.association.logo.filename"
      style="width: 100%;"
    />
  </div>
  <div
    class="event-background"
    [ngStyle]="event.association | assoStyle: 'accent':'background'"
  ></div>
  <div class="event-name" [ngStyle]="event.association | assoStyle: 'accent':'text-shadow'">
    {{
      event.shotgunStartingDate > day.date && event.shotgunStartingDate < nextDay(event.date)
        ? 'Shotgun '
        : ''
    }}
    {{ event.name }}
  </div>
</div>
