:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.date {
  position: absolute;
  margin: 2px;
  z-index: 5;
  color: grey;
  right: 0;
  bottom: 0;

  .day-number {
    font-size: 1.5em;
    line-height: 1;
    margin-right: 3px;
    margin-bottom: -4px;
    text-align: end;
  }

  .month {
    font-size: 0.7em;
    margin-right: 3px;
    text-align: end;
  }
}

.event {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;

  .logo-background {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 100%;
    z-index: 1;
    opacity: 0.4;
  }

  .event-name {
    z-index: 4;
    font-size: 1.2em;
    text-align: center;
  }
}

.today {
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  margin: -4px;
  border: solid #fac837 3px;
  border-radius: 5px;
}
