$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$app-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #f81f1f,
  700: #e70000,
  800: #d60000,
  900: #9e0000,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$app-green: (
  50: #e5f9e1,
  100: #bff0b3,
  200: #94e781,
  300: #69dd4f,
  400: #49d529,
  500: #29ce03,
  600: #24c903,
  700: #1fc202,
  800: #19bc02,
  900: #0fb001,
  A100: #dbffda,
  A200: #aaffa7,
  A400: #79ff74,
  A700: #60ff5a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-greyblue: (
  50: #e9ebed,
  100: #c8cdd1,
  200: #a4acb2,
  300: #808b93,
  400: #64727c,
  500: #495965,
  600: #42515d,
  700: #394853,
  800: #313e49,
  900: #212e37,
  A100: #80c6ff,
  A200: #4dafff,
  A400: #1a98ff,
  A700: #008cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$app-purple: (
  50: #ece5f3,
  100: #d0bee2,
  200: #b092cf,
  300: #9066bb,
  400: #7946ad,
  500: #61259e,
  600: #592196,
  700: #4f1b8c,
  800: #451682,
  900: #330d70,
  A100: #c2a3ff,
  A200: #a070ff,
  A400: #7f3dff,
  A700: #6e24ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$app-blue: (
  50: #e4f2fe,
  100: #bce0fb,
  200: #90cbf9,
  300: #64b6f7,
  400: #42a6f5,
  500: #2196f3,
  600: #1d8ef1,
  700: #1883ef,
  800: #1479ed,
  900: #0b68ea,
  A100: #ffffff,
  A200: #e1ecff,
  A400: #aeccff,
  A700: #95bcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-yellow: (
  50: #fff9e5,
  100: #ffefbf,
  200: #ffe594,
  300: #ffda69,
  400: #ffd248,
  500: #ffca28,
  600: #ffc524,
  700: #ffbd1e,
  800: #ffb718,
  900: #ffab0f,
  A100: #ffffff,
  A200: #fffcf7,
  A400: #ffe9c4,
  A700: #ffdfab,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #61259e,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
