<mat-sidenav-container [hasBackdrop]="!showEventnav" autosize>
  <mat-sidenav #sidenav mode="push" opened="false" (closedStart)="closeSidenav()">
    <mat-toolbar color="primary" class="branding">
      <span class="w-100 text-center">
        <a routerLink="" (click)="navServiceCloseNav()">
          <img [src]="logo" alt="logo" />
        </a>
      </span>
    </mat-toolbar>

    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    #rightnav
    mode="side"
    position="end"
    [opened]="showUsernav || showEventnav"
    (closedStart)="closeSidenav()"
    class="right-nav"
  >
    <app-user-sidenav
      [show]="showUsernav"
      [authenticatedUser]="authenticatedUser"
      (close)="rightnav.close()"
      (logout)="onLogoutClick()"
    ></app-user-sidenav>
    <app-event-sidenav [show]="showEventnav" (close)="rightnav.close()"></app-event-sidenav>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button class="d-md-none" (click)="navServiceOpenNav()">
      <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
    </button>

    <span
      class="branding spacer center d-inline d-sm-none link position-absolute w-100"
      style="margin-left: -16px; z-index: -1"
    >
      <a routerLink="">
        <img [src]="logo" alt="logo" />
      </a>
    </span>

    <span routerLink="" class="branding spacer center d-inline d-sm-none link">
      <a routerLink="">
        <img [src]="logo" alt="logo" />
      </a>
    </span>

    <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none link">
      <a routerLink="">
        <img [src]="logo" alt="logo" />
        <span class="app-title">Portail Etu</span>
      </a>
    </span>

    <span routerLink="" class="branding spacer d-none d-md-inline link">
      <a routerLink="">
        <img [src]="logo" alt="logo" />
        <span class="app-title">Portail des Étudiants</span>
      </a>
    </span>

    <span class="spacer center d-none d-md-inline"></span>

    <span class="d-none d-md-inline">
      <button
        mat-button
        class="mat-button link d-none active"
        *ngFor="let item of allNav"
        [routerLink]="[item.link]"
        routerLinkActive="d-inline"
      >
        <a class="h5 font-weight-bold" [routerLink]="[item.link]">{{ item.label }}</a>
      </button>

      <button mat-button [matMenuTriggerFor]="menuAssos">Associations</button>
      <button mat-button [matMenuTriggerFor]="menuLists">Listes</button>
      <button mat-button [matMenuTriggerFor]="pages">Autres Sites</button>

      <mat-menu #menuAssos="matMenu">
        <ng-container *ngIf="navItems[0]">
          <a mat-menu-item [routerLink]="[asso.route]" *ngFor="let asso of navItems[0].children">
            <button class="mat-button link" [routerLink]="[asso.route]" routerLinkActive="active">
              {{ asso.displayName }}
            </button>
          </a>
        </ng-container>
      </mat-menu>

      <mat-menu #menuLists="matMenu">
        <ng-container *ngIf="navItems[1]">
          <a mat-menu-item [routerLink]="[asso.route]" *ngFor="let asso of navItems[1].children">
            <button class="mat-button link" [routerLink]="[asso.route]" routerLinkActive="active">
              {{ asso.displayName }}
            </button>
          </a>
        </ng-container>
      </mat-menu>

      <mat-menu #pages="matMenu">
        <ng-container *ngIf="navItems[2]">
          <a mat-menu-item href="{{ item.route }}" *ngFor="let item of navItems[2].children">
            <button class="mat-button link">
              {{ item.displayName }}
            </button>
          </a>
        </ng-container>
      </mat-menu>

      <!--<ng-container>-->
      <!--<button mat-button class="nav-button link"-->
      <!--[routerLink]="'/'" routerLinkActive="active">-->
      <!--<a [routerLink]="'settings/admin'">Paramètres</a>-->
      <!--</button>-->
      <!--</ng-container>-->
    </span>

    <button
      mat-button
      class="sign-in-button "
      *ngIf="!authenticatedUser && !authPending"
      (click)="onLoginClick()"
    >
      Se connecter
    </button>

    <mat-spinner *ngIf="authPending" [diameter]="20" [strokeWidth]="5" color="accent"></mat-spinner>

    <button *ngIf="authenticatedUser && !authPending" mat-icon-button (click)="openUsernav()">
      <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
    </button>

    <!--<button mat-icon-button routerLink="settings" class="d-none d-sm-inline">-->
    <!--<mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>-->
    <!--</button>-->
  </mat-toolbar>

  <div class="wrapper">
    <div class="content">
      <app-info></app-info>
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <footer>
      <div class="row">
        <div class="col-12 signature">
          &#169;
          <span class="year">{{ year }}</span>
          - BDE de l'EMSE
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          Site développé en 2018 par Corentin Doué - ICM 2016
        </div>
      </div>
    </footer>
  </div>
</mat-sidenav-container>
