@import '~@angular/material/theming';

@mixin app-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  //a {
  //  color: mat-color($foreground, text);
  //
  //  &:hover {
  //    color: mat-color($accent);
  //  }
  //}

  code {
    color: mat-color($accent, lighter-contrast);
    background-color: mat-color($accent, lighter);
  }

  .mat-menu-content{
    background-color: mat-color($primary);
    a .mat-button {
      color: mat-contrast($primary, 500);
    }
    .mat-button {
      a {
        color: mat-contrast($primary, 500);
      }

      &.active {
        a{
          color: mat-contrast($accent, 500);
        }
        background-color: mat-color($accent);
      }
    }
  }

}
