* {
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

svg {
  vertical-align: unset;
}

.centrer {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
