<mat-paginator showFirstLastButtons pageSize="30" hidePageSize></mat-paginator>
<table mat-table [dataSource]="dataSource" matSort class="w-100">
  <ng-container matColumnDef="event.date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.event.date | date: 'EEEE d M' | translateDay }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="event.name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.event.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="event.association.name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Association</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.event.association.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="paid">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Payé</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{
        element.event.price && element.paid
          ? 'Oui'
          : element.event.price && !element.paid
          ? 'Non'
          : ''
      }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="modify">
    <mat-header-cell *matHeaderCellDef>Modifier</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="'/events/booking/' + element.id">
        <button mat-flat-button color="accent">
          {{
            element.event.date > today &&
            (!element.event.closingDate || element.event.closingDate > today)
              ? 'Modifier'
              : 'Voir'
          }}
        </button>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>
