<div class="container">
    <mat-card *ngIf="loaded">
      <mat-card-title *ngIf="!changeName && !nameLoading">{{asso.name}}</mat-card-title>

      <div class="row">
        <div class="col d-flex flex-column align-content-center align-items-center justify-content-center" >
          <mat-spinner *ngIf="nameLoading" [diameter]="50"></mat-spinner>

          <app-title-form [text]="asso.name" (canceled)="changeName = false" *ngIf="changeName" (submitted)="uploadName($event)"></app-title-form>

          <button class="m-2" mat-raised-button color="accent" (click)="changeName = true" *ngIf="!changeName && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())">Changer le nom</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 d-flex flex-column align-content-center align-items-center justify-content-center" *ngIf="(asso.description && asso.logo) || authService.hasAssoRight(1, asso.id) || authService.isAdmin()">
          <img [src]="imgPath+'/'+asso.logo.filename" [alt]="asso.logo.filename" style="width: 100%;" *ngIf="asso.logo && !logoLoading">

          <mat-card-title *ngIf="!asso.logo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())">Ajouter un logo ?</mat-card-title>

          <svg-icon src="assets/add-logo.svg" [svgStyle]="{ 'width.%': '100', 'height.%': '100' }" *ngIf="!asso.logo && !addLogo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())" (click)="addLogo = true;"></svg-icon>

          <app-img-upload-form *ngIf="addLogo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())" [imgName]="'logo_asso_'+asso.id" (submitted)="uploadImg($event)" (canceled)="addLogo = false;"></app-img-upload-form>

          <mat-spinner *ngIf="logoLoading" [diameter]="50" ></mat-spinner>

          <button class="m-2" mat-raised-button color="accent" (click)="addLogo = true" *ngIf="!addLogo && asso.logo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())">Changer le logo</button>
        </div>

        <div class="col-md-8" *ngIf="(asso.description && asso.logo) || authService.hasAssoRight(1, asso.id) || authService.isAdmin()">
          <p *ngIf="asso.description && !addDesc" [innerHTML]="asso.description | keepHtml"></p>

          <mat-spinner *ngIf="descLoading" [diameter]="50"></mat-spinner>

          <app-text-area-form *ngIf="addDesc && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())" [text]="asso.description" (submitted)="uploadDesc($event)" (canceled)="addDesc = false;"></app-text-area-form>

          <button mat-raised-button color="accent" (click)="addDesc = true" *ngIf="!addDesc && !asso.description && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())">Ajouter une description</button>

          <button class="m-2" mat-raised-button color="accent" (click)="addDesc = true" *ngIf="!addDesc && asso.description && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())">Changer la description</button>
        </div>

        <div class="col d-flex flex-column align-content-center align-items-center justify-content-center" *ngIf="(!asso.description || !asso.logo) && !authService.hasAssoRight(1, asso.id) && !authService.isAdmin()">
          <p *ngIf="asso.description" [innerHTML]="asso.description | keepHtml"></p>
          <img [src]="imgPath+'/'+asso.logo.filename" [alt]="asso.logo.filename" style="max-height: 300px;" *ngIf="asso.logo">
        </div>
      </div>

      <app-positions-list [positions]="asso.positions" (delete)="deletePosition($event)" [modify]="changePos && (authService.hasAssoRight(2, asso.id) || authService.isAdmin())"></app-positions-list>

      <app-add-position-form [assoId]="asso.id"
                             [roles]="roles"
                             [users]="users"
                             [allRights]="rights"
                             (submitted)="addPosition($event)"
                             *ngIf="roles && users && !positionLoading && changePos && (authService.hasAssoRight(2, asso.id) || authService.isAdmin())">
      </app-add-position-form>

      <div class="row justify-content-center" *ngIf="authService.hasAssoRight(2, asso.id) || authService.isAdmin()">
        <mat-spinner [diameter]="150" *ngIf="positionLoading"></mat-spinner>
        <button class="m-2" mat-raised-button color="accent" (click)="changePos = true" *ngIf="!changePos">Modifier les membres</button>
        <button class="m-2" mat-raised-button color="warn" (click)="changePos = false" *ngIf="changePos && !positionLoading">Annuler</button>
      </div>

      <app-events-list [events]="asso.events" [isRightful]="authService.hasAssoRight(3, asso.id) || authService.isAdmin()" [assoId]="asso.id"></app-events-list>
    </mat-card>
</div>
<div class="centrer" *ngIf="!loaded">
  <mat-spinner  [diameter]="200" [strokeWidth]="5"></mat-spinner>
</div>
