mat-card-title,
mat-card-content,
mat-card-footer {
  display: flex;
  justify-content: center;
}
svg-icon {
  padding: 20px;
  cursor: pointer;
}

.centrer {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
