<div class="container">
  <mat-card *ngIf="loaded">
    <mat-card-title *ngIf="!changeName && !nameLoading">{{ asso.name }}</mat-card-title>

    <div class="row">
      <div
        class="col d-flex flex-column align-content-center align-items-center justify-content-center"
      >
        <mat-spinner *ngIf="nameLoading" [diameter]="50"></mat-spinner>

        <app-title-form
          [text]="asso.name"
          [asso]="asso"
          (canceled)="changeName = false"
          *ngIf="changeName"
          (submitted)="uploadName($event)"
        ></app-title-form>

        <button
          class="m-2"
          mat-raised-button
          [ngStyle]="asso | assoStyle: 'accent'"
          (click)="changeName = true"
          *ngIf="!changeName && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())"
        >
          Changer le nom
        </button>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-4 d-flex flex-column align-content-center align-items-center justify-content-center"
        *ngIf="
          (asso.description && asso.logo) ||
          authService.hasAssoRight(1, asso.id) ||
          authService.isAdmin()
        "
      >
        <img
          [src]="imgPath + '/' + asso.logo.filename"
          [alt]="asso.logo.filename"
          style="width: 100%;"
          *ngIf="asso.logo && !logoLoading"
        />

        <mat-card-title
          *ngIf="!asso.logo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())"
        >
          Ajouter un logo ?
        </mat-card-title>

        <svg-icon
          src="assets/add-logo.svg"
          [svgStyle]="{ 'width.%': '100', 'height.%': '100' }"
          *ngIf="
            !asso.logo &&
            !addLogo &&
            (authService.hasAssoRight(1, asso.id) || authService.isAdmin())
          "
          (click)="addLogo = true"
        ></svg-icon>

        <app-img-upload-form
          *ngIf="addLogo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())"
          [imgName]="'logo_asso_' + asso.id"
          (submitted)="uploadImg($event)"
          (canceled)="addLogo = false"
          [asso]="asso"
        ></app-img-upload-form>

        <mat-spinner *ngIf="logoLoading" [diameter]="50"></mat-spinner>

        <button
          class="m-2"
          mat-raised-button
          [ngStyle]="asso | assoStyle: 'accent'"
          (click)="addLogo = true"
          *ngIf="
            !addLogo && asso.logo && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())
          "
        >
          Changer le logo
        </button>
      </div>

      <div
        class="col-md-8"
        *ngIf="
          (asso.description && asso.logo) ||
          authService.hasAssoRight(1, asso.id) ||
          authService.isAdmin()
        "
      >
        <p *ngIf="asso.description && !addDesc" [innerHTML]="asso.description | keepHtml"></p>

        <mat-spinner *ngIf="descLoading" [diameter]="50"></mat-spinner>

        <app-text-area-form
          *ngIf="addDesc && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())"
          [asso]="asso"
          [text]="asso.description"
          (submitted)="uploadDesc($event)"
          (canceled)="addDesc = false"
        ></app-text-area-form>

        <button
          mat-raised-button
          [ngStyle]="asso | assoStyle: 'accent'"
          (click)="addDesc = true"
          *ngIf="
            !addDesc &&
            !asso.description &&
            (authService.hasAssoRight(1, asso.id) || authService.isAdmin())
          "
        >
          Ajouter une description
        </button>

        <button
          class="m-2"
          mat-raised-button
          [ngStyle]="asso | assoStyle: 'accent'"
          (click)="addDesc = true"
          *ngIf="
            !addDesc &&
            asso.description &&
            (authService.hasAssoRight(1, asso.id) || authService.isAdmin())
          "
        >
          Changer la description
        </button>
      </div>

      <div
        class="col d-flex flex-column align-content-center align-items-center justify-content-center"
        *ngIf="
          (!asso.description || !asso.logo) &&
          !authService.hasAssoRight(1, asso.id) &&
          !authService.isAdmin()
        "
      >
        <p *ngIf="asso.description" [innerHTML]="asso.description | keepHtml"></p>
        <img
          [src]="imgPath + '/' + asso.logo.filename"
          [alt]="asso.logo.filename"
          style="max-height: 300px;"
          *ngIf="asso.logo"
        />
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="changeColor">
      <div class="col-md-5 d-flex flex-column align-items-center">
        <div
          class="color-picker-button"
          [ngStyle]="asso | assoStyle"
          [cpPosition]="'bottom'"
          [cpPositionOffset]="'50%'"
          [cpPositionRelativeToArrow]="true"
          [(colorPicker)]="asso.color"
          style="color: white"
        >
          Couleur 1
        </div>
        <mat-form-field>
          <mat-label>Couleur du texte</mat-label>
          <mat-select
            [value]="asso.contrastColor || 'null'"
            (valueChange)="asso.contrastColor = $event === 'null' ? null : $event"
          >
            <mat-option *ngFor="let contrast of contrasts" [value]="contrast.value">
              {{ contrast.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
        <mat-icon class="swap-icon" (click)="switchColor()">swap_horizontal_circle</mat-icon>
      </div>
      <div class="col-md-5 d-flex flex-column align-items-center">
        <div
          class="color-picker-button"
          [ngStyle]="asso | assoStyle: 'accent'"
          [cpPosition]="'bottom'"
          [cpPositionOffset]="'50%'"
          [cpPositionRelativeToArrow]="true"
          [(colorPicker)]="asso.color2"
        >
          Couleur 2
        </div>
        <mat-form-field>
          <mat-label>Couleur du texte</mat-label>
          <mat-select
            [value]="asso.contrastColor2 || 'null'"
            (valueChange)="asso.contrastColor2 = $event === 'null' ? null : $event"
          >
            <mat-option *ngFor="let contrast of contrasts2" [value]="contrast.value">
              {{ contrast.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="changeColor">
      <h6>Exemple de case de calendrier</h6>
    </div>
    <div class="row justify-content-center" *ngIf="changeColor">
      <div class="event" [ngStyle]="asso | assoStyle: 'accent'">
        <div class="logo-background" *ngIf="asso.logo">
          <img
            [src]="imgPath + '/' + asso.logo.filename"
            [alt]="asso.logo.filename"
            style="width: 100%;"
          />
        </div>
        <div class="event-background" [ngStyle]="asso | assoStyle: 'accent'"></div>
        <div class="event-name" [ngStyle]="asso | assoStyle: 'accent':'text-shadow'">
          Nom de l'événement
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button
        class="m-2"
        mat-raised-button
        [ngStyle]="asso | assoStyle: 'accent'"
        (click)="changeColor = true"
        *ngIf="!changeColor && (authService.hasAssoRight(1, asso.id) || authService.isAdmin())"
      >
        Modifier les couleurs
      </button>
      <button
        class="m-2"
        mat-raised-button
        color="warn"
        (click)="changeColor = false"
        *ngIf="changeColor"
      >
        Annuler
      </button>
      <button
        class="m-2"
        mat-raised-button
        [ngStyle]="asso | assoStyle: 'accent'"
        (click)="uploadColors()"
        *ngIf="changeColor"
      >
        Enregistrer
      </button>
    </div>

    <app-positions-list
      [asso]="asso"
      (delete)="deletePosition($event)"
      [modify]="changePos && (authService.hasAssoRight(2, asso.id) || authService.isAdmin())"
    ></app-positions-list>

    <app-add-position-form
      [asso]="asso"
      [roles]="roles"
      [users]="users"
      [allRights]="rights"
      (submitted)="addPosition($event)"
      *ngIf="
        roles &&
        users &&
        !positionLoading &&
        changePos &&
        (authService.hasAssoRight(2, asso.id) || authService.isAdmin())
      "
    ></app-add-position-form>

    <div
      class="row justify-content-center"
      *ngIf="authService.hasAssoRight(2, asso.id) || authService.isAdmin()"
    >
      <mat-spinner [diameter]="150" *ngIf="positionLoading"></mat-spinner>
      <button
        class="m-2"
        mat-raised-button
        [ngStyle]="asso | assoStyle: 'accent'"
        (click)="changePos = true"
        *ngIf="!changePos"
      >
        Modifier les membres
      </button>
      <button
        class="m-2"
        mat-raised-button
        color="warn"
        (click)="changePos = false"
        *ngIf="changePos && !positionLoading"
      >
        Annuler
      </button>
    </div>

    <app-events-list
      [asso]="asso"
      [isRightful]="authService.hasAssoRight(3, asso.id) || authService.isAdmin()"
    ></app-events-list>
  </mat-card>
</div>
<div class="centrer" *ngIf="!loaded">
  <mat-spinner [diameter]="200" [strokeWidth]="5"></mat-spinner>
</div>
